/* Font Families */

@font-face {
  font-family: corroded;
  src: url('./fonts/corroded.ttf');
}

@font-face {
  font-family: whiterabbit;
  src: url('./fonts/whiterabbit.ttf');
}

@font-face {
  font-family: nasalization;
  src: url('./fonts/nasalization.ttf');
}

@font-face {
  font-family: hacka;
  src: url('./fonts/hacka.ttf');
}

/* Global */

* {
  box-sizing: border-box;
}

body {
  background-color: #444545;
  color: #DCDCDC;
  font-family: nasalization;
}

a {
  color: #020402;
  text-decoration: none;
}

a:hover {
  color: #FFFFFF;
}

label {
 font-weight: bold;
}

#dropdown{
  width: 600px;
  height: 30px;
}

.addButton {
  flex: 1;
}

.buttonSpacing {
  margin-left: 10px;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
}

.imageFlex {
  width: 50%;
  margin: 15px;
}

.listTitle {
  text-decoration: underline;
  flex: 6;
}

/* Edit Pages */

.edit {
  color: limegreen;
  font-family: whiterabbit;
  border-color: limegreen; 
}

.edit a {
  color: limegreen;
  font-family: whiterabbit;
  border-color: limegreen; 
}

.edit #studentItem {
  background-color: black;
}

.edit .btn {
  background-color: #020402;
  color: limegreen;
  font-family: whiterabbit;
  border-color: limegreen;
}

.edit #dropdown {
  background-color: #020402;
  color: limegreen;
  font-family: whiterabbit;
  border-color: limegreen;
  width: 600px;
  height: 30px;
}

.form-control {
  background-color: #020402;
  color: limegreen;
  font-family: whiterabbit;
  border-color: limegreen;
}

.form-control:focus {
  background-color: #020402;
  color: limegreen;
  border-color: limegreen;
}

.hackButton {
  background-color: #020402;
  color: limegreen;
  border-color: limegreen;
}

.textArea {
  height: 250px;
}

/* Home Page */

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#homeButtons {
  display: flex;
  justify-content: center;
  font-family: nasalization;
}

#homeHeader {
  flex-direction: column;
  align-items: center;
  background-image: url('./images/MHI_home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #FAE8EB;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

#homeInfo {
  flex-direction: column;
}

.homeSubtext {
  font-size: 70px;
  text-transform: uppercase;
  font-family: corroded;
}

.homeText {
  font-size: 100px;
  text-transform: uppercase;
  font-family: corroded;
}

/* Campuses */ 

#campuses {
  display: flex; 
  justify-content: center;
}

#campusDetail {
  display: flex;
  padding: 20px;
  margin-bottom: 50px;
  background-color: #A9A9A9;
  border-radius: 5px;
  color: black;
}

#campusInfo {
  display: flex;
  flex-direction: column;
  width: 50%; 
  justify-content: center;
  text-align: center;
  padding-left: 20px;
}

#campusItem {
  display: flex;
  margin-bottom: 20px;
  padding-right: 25px;
  background-color: #A9A9A9;
  border-radius: 5px;
  color: black;
  width: 45%; 
}

#campusesList {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-between; 
  padding-right: 15px;
}

#campusOnStudent {
  display: flex;
  justify-content: center;
  width: 100%;
}

#campusStudents {
  display: flex;
  margin-bottom: 45px;
}

.campusButtons {
  display: flex; 
  align-items: flex-end; 
  justify-content: flex-end;
}

.campusImage {
  width: 50%;
  margin: 15px;
}

/* Students */

#studentDetail {
  display: flex; 
  flex-direction: column;
  align-items: center;
  background-color: #A9A9A9;
  border-radius: 5px;
  padding: 20px 10px;
  margin: 30px 25px;
  color: black;
}

#studentInfo {
  width: 50%;
  margin-top: 10px;
}

#studentItem {
  width: 20%; 
  display: flex; 
  flex-direction: column;
  align-items: center;
  padding: 15px 0 15px 0;
  background-color: #A9A9A9;
  border-radius: 5px;
  margin: 15px 15px;
  color: black;
}

#studentsList {
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-between;
}

.studentButtons {
  justify-content: flex-end;
  align-items: flex-end;
}

.studentImage {
  border-radius: 50%;
}

.studentsPadding {
  padding-bottom: 120px;
}

/* Nav */

nav a {
  color: #FAE8EB;
  text-decoration: none;
  font-family: corroded;
  text-transform: uppercase;
}

#nav {
  background-color: #020402;
}

.navMargin {
  margin-top: 25px;
}


/* Flex Breakpoints */

@media (max-width:1000px){
  #dropdown {
    width: 400px;
  }

  #studentItem {
    width: 40%;  
    padding-bottom: 15px;
    margin: inherit auto;
  }

  #campusItem {
    width: 100%; 
    padding-bottom: 50px;
  }

  .email {
    visibility: hidden;
    display: none;
  }
}

@media (max-width: 660px){
  #campusItem {
    display: block;
    /* width: 100%;   */
    padding-bottom: 15px;
    margin: inherit auto;
  }

  #studentItem {
    width: 100%;  
    padding-bottom: 15px;
    margin: inherit auto;
  }

  #studentInfo {
    font-size: 40%;
  }

  .homeText {
    font-size: 70px;
  }

  .homeSubtext {
    font-size: 40px;
  }

  .email, .studentImage, .campusImage {
    visibility: hidden;
    display: none;
  }

  .flex { 
    display: block;
  }

  #dropdown, .edit #dropdown {
    width: 200px;
    color: #020402;
    background-color: #FAE8EB;
    border-color: #020402
  }

  #campusDetail {
    text-align: center;
    justify-content: center;
    flex-basis: auto;
  }

  #campusInfo{
    display:block;
  }

  .studentButtons {
    flex-direction: column;
  }
}
